.grid-container {
  display: grid;                      
  grid-template-columns: repeat(3, 1fr); 
  grid-gap: 15px;                      
  width: 90%;
  margin: 50px auto;
}

.grid-item {
  background-color: #4cc8f5; 
  color: #333;
  padding: 20px;
  border-radius: 5px;
  min-height: 100px;
  text-align: center;
  font-size: 1.5em;
}

.span-item {
  background-color: #726f6f; 
  grid-column: 1 / 4;      
  font-weight: bold;
  color: white;
}
